{% extends "layouts/main-layout.njk" %}

{% block headCode %}{% endblock %}

{% block content %}
  <main>
    {% if title %}
      <h1>{{ title }}</h1>
    {% endif %}

    {% if message %}
      <p>{{ message }}</p>
    {% endif %}

    {% if menu.length %}<ul>{% endif %}
      {% for link in menu %}
        {% if link.url %}
          <li><a href="{{ link.url }}">{{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% if menu.length %}</ul>{% endif %}
  </main>
{% endblock %}

{% block footerCodeBefore %}{% endblock %}

{% block footerCode %}
  <script src="/assets/main.js?v={{ global.cacheVersion }}"></script>
{% endblock %}
