{% extends "layouts/main-layout.njk" %}

{% block headCode %}{% endblock %}

{% block content %}
  <main class="page">
    <div class="text_center">
      {% if title %}
        <h1>{{ title }}</h1>
      {% endif %}

      {% if message %}
        <p>{{ message }}</p>
      {% endif %}

      <div class="theme_swticher">
        <label for="">
          <span id="themeswitcher_label">Dark Theme</span>
          <input type="checkbox" name="themeswitcher" id="themeswitcher">
        </label>
      </div>

      {% if menu.length %}<ul>{% endif %}
        {% for link in menu %}
          {% if link.url %}
            <li><a href="{{ link.url }}">{{ link.label }}</a></li>
          {% endif %}
        {% endfor %}
      {% if menu.length %}</ul>{% endif %}
    </div>
  </main>
{% endblock %}

{% block footerCodeBefore %}{% endblock %}

{% block footerCode %}
  <script src="/assets/main.js?v={{ global.cacheVersion }}"></script>
{% endblock %}
